@use  "../../Styles/variables.scss" as var;

.quotes{
    width: 100%;
    margin: 0 10rem 10rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .div{
        
        margin: 0 0 var.$space-large 0;
        padding: var.$space-medium ;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        border-radius: var.$radius-large;
        
        @include var.mobile {
            padding: var.$space-medium var.$space-xlarge;
        }
    }

    .p{  
       
        font-size: var.$font-xlarge;
        font-weight: bold;
        color: var.$color-secondary-dark;
        @include var.mobile {
            font-size: var.$font-huge;
          }

    }
}