@use "../../../Styles/variables.scss" as var;

.page {
  width: 100%;
  min-height: 60rem;
  margin: var.$space-small auto;
  padding: var.$space-small;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  

  @include var.mobile {
    width: 60%;
    min-height: 80rem;
    margin: var.$space-xlarge auto;
    padding: var.$space-medium;
  }
}
